<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/product-details.css" />
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <div class="shop-product-details_container">
      <img src="<%= product.imageUrl %>" />
      <div class="shop-product-details_body">
        <h3 class="title"><%= product.name %></h3>
        <span class="price">&#8377;<%= product.price %></span>
        <p><%= product.description %></p>
        <form method="POST" action="/cart" class="shop-product-details_buttons">
          <a
            class="btn-link btn-link-primary"
            href="/admin/edit-product/<%= product.id %>"
            >Edit</a
          >
          <input type="hidden" name="productId" value="<%= product.id %>" />
          <input type="hidden" name="price" value="<%= product.price %>" />
          <button class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </body>
</html>
