<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header'); %>
    <link rel="stylesheet" href="/css/all-products.css" />
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <div class="shop-products_container">
      <h1 class="shop-products_title">All Products</h1>
      <% if (products.length) {%>
        <ul class="shop-products_products-wrapper">
          <% products.forEach((prod, index) => { %>
          <li class="shop-products_product-item" style="animation-delay: <%= index * 40 %>ms">
            <img src="<%= prod.imageUrl %>" />
            <div class="header">
              <span class="title"><%= prod.name %></span>
              <span class="price">&#8377;<%= prod.price %></span>
            </div>
            <div class="shop-products_products-action-btns">
              <a class="btn-link btn-link-primary" href="/products/<%= prod.id %>">Details</a>
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </li>
          <% }); %>
        </ul>
      <% } else { %>
        <div class="shop-products_no-products-wrapper">
          <h3>No products found!</h3>
          <p><a href="/add-product">Click here</a> to add products into the store!</p>
        </div>
      <% } %>
    </div>
  </body>
</html>
